<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::body})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="menu-account">
					<h3>
						<span> Tài khoản </span>
					</h3>
					<ul>
						<li><a th:href="@{/security/login/form}"><i
								class="fa fa-sign-in"></i>Đăng nhập</a></li>
						<li><a href="#"><i class="fa fa-key"></i>Đăng ký</a></li>
						<li><a href="#"><i class="fa fa-key"></i>Quên mật khẩu</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-9">

				<div class="breadcrumb clearfix">
					<ul>
						<li itemtype="http://shema.org/Breadcrumb" itemscope=""
							class="home"><a title="Đến trang chủ" href="/"
							itemprop="url"><span itemprop="title">Trang chủ</span></a></li>
						<li class="icon-li"><strong>Đăng nhập</strong></li>
					</ul>
				</div>
				<div class="login-content clearfix" >
					<h1 class="title">
						<span>Đăng nhập hệ thống</span>
					</h1>
					<div ng-if="IsError" class="alert alert-danger fade in">
						<button data-dismiss="alert" class="close"></button>
						<i class="fa-fw fa fa-times"></i> <strong>Error!</strong> <span
							ng-bind-html="Message"></span>
					</div>
					<div ng-if="IsSuccess" class="alert alert-success fade in">
						<button data-dismiss="alert" class="close"></button>
						<i class="fa-fw fa fa-check"></i> <strong>Success!</strong> Đăng
						nhập thành công.
					</div>
					<div class="alert alert-danger fade in">
						<button data-dismiss="alert" class="close"></button>
						<i class="fa-fw fa fa-times"></i> <strong th:text="${message}"></strong> <span
							></span>
					</div>
					<div
						class="col-md-6 col-md-offset-3 col-xs-12 col-sm-12 col-xs-offset-0 col-sm-offset-0">
						<form class="form-horizontal" th:action="@{/security/login}" method="post">
							<div class="form-group">
								<label for="username" class="col-sm-4 control-label">Username</label>
								<div class="col-sm-8">
									<input type="text" name="username" class="form-control" />
								</div>
							</div>
							<div class="form-group">
								<label for="password" class="col-sm-4 control-label">Password</label>
								<div class="col-sm-8">
									<input type="password" name="password" class="form-control" />
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-4"></div>
								<div class="col-sm-8">
									<input id="remember-me" class="form-check-input"
										type="checkbox" name="rememeber-me" value="false"> <label
										for="remember-me" class="control-label">Remember Me?</label>
								</div>

							</div>
							<div class="form-group">
								<div class="col-sm-offset-4 col-sm-8">
									<button type="submit" class="btn btn-default">Đăng
										nhập</button>
									<a href="#">Quên mật khẩu</a>
								</div>
							</div>
						</form>
					</div>
				</div>

			</div>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function() {
			$(".menu-quick-select ul").hide();
			$(".menu-quick-select").hover(function() {
				$(".menu-quick-select ul").show();
			}, function() {
				$(".menu-quick-select ul").hide();
			});
			$(".carousel").hide();
		});
	</script>
</body>
</html>