<!DOCTYPE html>
<html xmlns="http://wwww.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::body})}">

<head>
<meta charset="UTF-8">
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="payment-content">
					<h1 class="title">
						<span>Thanh toán</span>
					</h1>
					<div class="steps clearfix">
						<ul class="clearfix">
							<li
								class="cart active col-md-2 col-xs-12 col-sm-4 col-md-offset-3 col-sm-offset-0 col-xs-offset-0">
								<span><i class="glyphicon glyphicon-shopping-cart"></i></span><span>Giỏ
									hàng của tôi</span><span class="step-number"><a>1</a></span>
							</li>
							<li class="payment active col-md-2 col-xs-12 col-sm-4"><span><i
									class="glyphicon glyphicon-usd"></i></span><span>Thanh toán</span><span
								class="step-number"><a>2</a></span></li>
							<li class="finish col-md-2 col-xs-12 col-sm-4"><span><i
									class="glyphicon glyphicon-ok"></i></span><span>Hoàn tất</span><span
								class="step-number"><a>3</a></span></li>
						</ul>
					</div>
					<div class="payment-title text-center hidden">
						<h3>GIAO HÀNG TOÀN QUỐC - THANH TOÁN KHI NHẬN HÀNG - 15 NGÀY
							ĐỔI TRẢ MIỄN PHÍ</h3>
						<div>
							Nếu gặp khó khăn trong việc đặt hàng xin hãy gọi<b
								class="hotline"> 034 933 2077 </b> để được hỗ trợ tốt nhất.
						</div>
					</div>
					<form class="payment-block clearfix" id="checkout-container"
						ng-submit="checkout()">
						<div class="col-md-4 col-sm-12 col-xs-12 payment-step step2">
							<h4>1. Địa chỉ thanh toán và giao hàng</h4>
							<div class="step-preview clearfix">
								<div class="form-block">
									<h2 class="title">Thông tin thanh toán</h2>
									<div class="form-group">
										<label for="purchaser">Purchaser</label>
										<div class="form-control" id="username">[[${#request.remoteUser}]]</div>
									</div>
									<div class="form-group">
										<label for="orderdate">Order Date</label>
										<div class="form-control">{{order.createDate | date :
											'dd-MM-yyyy'}}</div>
									</div>
									<div class="form-group">
										<label for="address">Shipping Address</label>
										<textarea id="address" class="form-control" name="address"
											rows="3" ng-model="order.address"></textarea>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-12 col-xs-12 payment-step step3">
							<h4>2. Thanh toán và vận chuyển</h4>
							<div class="step-preview clearfix">
								<h2 class="title">Vận chuyển</h2>
								<div class="form-group ">
									<label> Vận chuyển 24/7 </label>
								</div>
								<h2 class="title">Thanh toán</h2>
								<div class="form-group ">
									<label> Tiền mặt </label>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-12 col-xs-12 payment-step step1">
							<h4>3. Thông tin đơn hàng</h4>
							<div class="step-preview">
								<div class="cart-info">
									<div class="cart-items">
										<div class="cart-item clearfix" ng-repeat="item in cart.items">
											<span class="image pull-left" style="margin-right: 10px;">
												<a 	ng-href="/product/detail/{{item.id}}"> <img
													ng-src="/assets/images/{{item.image}}" class="img-responsive" />
											</a>
											</span>
											<div class="product-info pull-left">
												<span class="product-name"> <a
													href="/product/detail/{{item.id}}">{{item.name}}</a>
													x <span>{{item.qty}}</span>
												</span>
											</div>
											<span class="price">{{item.qty*item.price | number : 2}} ₫</span>
										</div>
									</div>
									<div class="total-price">
										Thành tiền <label> {{cart.amount | number : 2}} ₫</label>
									</div>
									<div class="shiping-price">
										Phí vận chuyển <label>0 ₫</label>
									</div>
									<div class="total-payment">
										Thanh toán <span> {{cart.amount | number : 2}} ₫</span>
									</div>
									<div class="button-submit">
										<button class="btn btn-default" type="submit" ng-click="order.purchaser()">Đặt
											hàng</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function() {
			$(".menu-quick-select ul").hide();
			$(".menu-quick-select").hover(function() {
				$(".menu-quick-select ul").show();
			}, function() {
				$(".menu-quick-select ul").hide();
			});
			$(".carousel").hide();
		});
	</script>
</body>
</html>