<div class="card-body p-0">
	<table class="table table-light">
		<thead class="thead-light">
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Price</th>
				<th>Date</th>
				<th>Image</th>
				<th>Category</th>
				<th>Available?</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in pager.items">
				<td>{{item.id}}</td>
				<td>{{item.name}}</td>
				<td>{{item.price | number : 2}}</td>
				<td>{{item.createDate | date : 'dd-MM-yyyy'}}</td>
				<td>{{item.image}}</td>
				<td>{{item.category.name}}</td>
				<td>{{item.available ? 'Yes' : 'No'}}</td>
				<td>
					<div class="btn-group btn-group-xs">
						<button ng-click="edit(item)" class="btn btn-warning">
							<i class="fas fa-edit    "></i>
						</button>
						<button ng-click="delete(item)" class="btn btn-danger">
							<i class="fas fa-trash    "></i>
						</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="card-footer text-center">
	<button ng-click="pager.first()" class="btn btn-danger">
		<i class="fas fa-hand-point-up    "></i>
	</button>
	<button ng-click="pager.prev()" class="btn btn-primary">
		<i class="fas fa-hand-point-left    "></i>
	</button>
	<button class="btn btn-success">{{pager.page + 1}} of
		{{pager.count}}</button>
	<button ng-click="pager.next()" class="btn btn-primary">
		<i class="fas fa-hand-point-right    "></i>
	</button>
	<button ng-click="pager.last()" class="btn btn-danger">
		<i class="fas fa-hand-point-down    "></i>
	</button>
</div>