
<div class="footer-content clearfix">
	<div class="container">
		<div class="row">
			<div class="footer-box col-md-3 col-sm-12 col-xs-12">
				<div class="item">
					<h3>
						<span>Giới thiệu</span>
					</h3>
				</div>
				<ul>
					<li><a href="/gioi-thieu.html"> Về ch&#250;ng t&#244;i </a></li>
					<li><a href="/gioi-thieu.html"> Tổng quan về c&#244;ng ty
					</a></li>
					<li><a href="/content/chuong-trinh-khuyen-mai.html">
							Chương tr&#236;nh khuyến m&#227;i </a></li>
					<li><a href="/content/cam-nam-mua-sam.html"> Cẩm nam mua
							sắm </a></li>
				</ul>
			</div>
			<div class="footer-box col-md-3 col-sm-12 col-xs-12">
				<div class="item">
					<h3>
						<span>Li&#234;n hệ - Hợp t&#225;c</span>
					</h3>
				</div>
				<ul>
					<li><a href="/content/danh-cho-doanh-nghiep.html">
							D&#224;nh ch&#242; doanh nghiệp </a></li>
					<li><a href="/lien-he.html"> Li&#234;n hệ </a></li>
					<li><a href="/content/tuyen-dung.html"> Tuyển dụng </a></li>
				</ul>
			</div>
			<div class="footer-box box-address col-md-3 col-sm-12 col-xs-12">
				<div class="item">
					<h3>Thông tin công ty</h3>
					<div class="box-address-content">
						<b>C&#212;NG TY TNHH PH&#193;T TRIỂN C&#212;NG NGHỆ</b>
						<p>
							<i class="fa fa-map-marker"></i> Thành phố Hồ Chí Minh
						</p>
						<p>
							<i class="fa fa-envelope"></i> <a
								href="mailto:vvt.vovanthang@gmail.com">vvt.vovanthang@gmail.com</a>
						</p>
						<p>
							<i class="fa fa-phone"></i> Phone: (034) 933 2077
						</p>
					</div>
				</div>
			</div>
			<div class="footer-box box-social col-md-3 col-sm-12 col-xs-12">
				<div class="item">
					<h3>Facebook</h3>
					<div class="fb-like-box"
						data-href="https://www.facebook.com/vvt.vovanthang"
						data-width="289" data-height="190" data-colorscheme="dark"
						data-show-faces="true" data-header="false" data-stream="false"
						data-show-border="false"></div>
					<div class="social-icon">
						<ul>
							<li><a target="_blank"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="https://www.facebook.com/vvt.vovanthang"
								target="_blank"><i class="fa fa-facebook"></i></a></li>
							<li><a target="_blank"><i class="fa fa-youtube"></i></a></li>
							<li><a target="_blank"><i class="fa fa-twitter "></i></a></li>
						</ul>
					</div>
				</div>

			</div>
			<div class="footer-box box-letter col-md-3 col-sm-12 col-xs-12 hide">
				<div class="item">
					<h3>Đăng ký nhận tin</h3>
					<div class="letter-title">
						<span>Hộp thư</span><i class="icon-title"></i>
					</div>
					<div class="letter-content">
						<div class="new-paper">
							<div class="input-box">
								<input type="text" name="email" id="txtNewsletter"
									class="input-text form-control" value=""
									placeholder="Your Emain Address" />
							</div>
							<div class="button text-center">
								<a class="btn btn-primary">Nhận tin</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- --------------------------------------------------------------------------------------- -->